.main {
    min-width: 1440px;
    width: 100%;
    height: 100vh;
    background-image: url(../images/evening.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main::-webkit-scrollbar {
    display: none;
}


.btn-morning{
    background-color: #F9F54B;
    color: black;
    padding: 40px 76px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    filter: drop-shadow(0 0 15px  #F9F54B) drop-shadow(0 0 50px #F9F54B) contrast(2) brightness(2);
    animation-delay: 2.3s;
}

.morning__main-player{
    background: rgba(123, 231, 83, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(123, 231, 83, 0.3);
}